# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Code::Blocks Debug/Release
/Debug/
/Release/
/debug/
/release/

# Eclipse IDE
.cproject
.project
.settings
*/.settings/*
/.settings
/.settings/
/.project
/.cproject
/.externalToolBuilders

# Misc files
nohup.out
.gdb_history
